* {
  box-sizing: border-box;
}

body {
  background-color: #252425;
  color: white;
}

.color-emphasize {
  color: #ee7233;
}

.color-gray {
  color: #dedede;
}

section {
  padding: 2rem 10rem !important;
}

.section-title {
  font-size: 4rem;
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.button__color--orange {
  padding: 1rem 2rem;
  border-radius: 50px;
  border: #ee7233 solid 2px;
  background-color: #ee7233;
  color: white;
  cursor: pointer;
}
.button__color--orange:hover {
  border: white solid 2px;
  transition: 0.3s;
}

nav {
  position: fixed !important;
  width: 100%;
  z-index: 2;
}

#navbarNav {
  justify-content: flex-end;
}

.navbar {
  background-color: #1b191b;
  padding: 2rem 10rem;
  box-sizing: border-box;
}
.navbar .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.navbar .navbar-brand {
  font-weight: bold;
  font-size: 1.7rem;
}
.navbar .navbar-toggler {
  color: white;
}
.navbar .nav-link {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
  font-weight: bold;
  font-size: 1.3rem;
  color: white;
}
.navbar .nav-link:hover {
  color: #ee7233;
  transition: 0.3s;
}
.navbar .active {
  color: #ee7233;
}

.home-intro {
  display: flex;
}
.home-intro .lg-padding-top {
  padding-top: 7rem;
}
.home-intro h1 {
  font-weight: bold;
  font-size: 4rem;
}
.home-intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-intro-text .icon-box {
  margin-bottom: 1rem;
}
.home-intro-text .icon-box .icon {
  padding-right: 1rem;
}
.home-intro-text #intro-describe {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #dedede;
}
.home-intro-text .portfolio-buttons {
  margin-top: 2rem;
}
.home-intro-text .portfolio-buttons #bt-my-portfolio {
  padding: 1rem 2rem;
  border-radius: 50px;
  border: #ee7233 solid 2px;
  background-color: #252425;
  color: white;
  font-weight: bold;
  margin-right: 1rem;
  text-decoration: none;
}
.home-intro-text .portfolio-buttons #bt-my-portfolio:hover {
  background-color: #ee7233;
  transition: 0.3s;
}
.home-intro .portraint {
  padding-top: 4rem;
}
.home-intro .portraint #portraint-img {
  width: 100%;
}

.portfolio {
  background-color: #1b191b;
  display: flex;
  flex-direction: column;
}
.portfolio .top-container {
  width: 100%;
  text-align: center;
}
.portfolio .portfolio-main-container {
  display: flex;
}
.portfolio .portfolio-main-container .left-container {
  margin-top: 2rem;
}
.portfolio .portfolio-main-container .left-container #portfolio-subtitle-container {
  text-align: center;
  margin-bottom: 2rem;
}
.portfolio .portfolio-main-container .left-container #portfolio-subtitle-container .portfolio-subtitle {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
}
.portfolio .portfolio-main-container .left-container .timeline {
  position: relative;
}
.portfolio .portfolio-main-container .left-container .timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #ee7233;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
.portfolio .portfolio-main-container .left-container .timeline-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
.portfolio .portfolio-main-container .left-container .timeline-container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12px;
  background-color: #1b191b;
  border: 4px solid #ee7233;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
.portfolio .portfolio-main-container .left-container .timeline-content {
  padding: 20px 30px;
  background-color: #252425;
  position: relative;
  border-radius: 6px;
}
.portfolio .portfolio-main-container .left-container .timeline-content #separater {
  color: #ee7233;
}
.portfolio .portfolio-main-container .left-container .left {
  left: 0;
}
.portfolio .portfolio-main-container .left-container .left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #252425;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #252425;
}
.portfolio .portfolio-main-container .left-container .right {
  left: 50%;
}
.portfolio .portfolio-main-container .left-container .right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #252425;
  border-width: 10px 10px 10px 0;
  border-color: transparent #252425 transparent transparent;
}
.portfolio .portfolio-main-container .left-container .right::after {
  left: -13px;
}
.portfolio .portfolio-main-container .right-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
.portfolio .portfolio-main-container .right-container .right-container-box {
  margin-bottom: 4rem;
  background-color: #252425;
  border-radius: 6px;
  padding: 2rem 2rem;
}
.portfolio .portfolio-main-container .right-container .portfolio-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio .portfolio-main-container .right-container .portfolio-card #head-portraint-img {
  width: 60%;
  border-radius: 100px;
}
.portfolio .portfolio-main-container .right-container .portfolio-card #short-description {
  text-align: center;
  margin-bottom: 2rem;
}
.portfolio .portfolio-main-container .right-container .portfolio-card .icon {
  margin: 0 0.5rem;
}
.portfolio .portfolio-main-container .right-container .portfolio-card #name {
  font-weight: bold;
  font-size: 1.5rem;
}
.portfolio .portfolio-main-container .right-container .skill-box .skill-box-title {
  border-bottom: solid #ee7233;
  display: inline;
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
}
.portfolio .portfolio-main-container .right-container .skill-box h3 {
  font-weight: bold;
}
.portfolio .portfolio-main-container .right-container .skill-box .skill-container {
  padding-top: 1rem;
}
.portfolio .portfolio-main-container .right-container .skill-box .skill-container .skill-item {
  margin: 1rem 0;
}
.portfolio .portfolio-main-container .right-container .skill-box .skill-container .skill-item .skill-name {
  font-size: 1rem;
}
.portfolio .portfolio-main-container .right-container .skill-box .skill-container .skill-item .skills-bar {
  display: flex;
  width: 100%;
  margin-top: 1rem;
}
.portfolio .portfolio-main-container .right-container .skill-box .skill-container .skill-item .skills-bar .bg-bar {
  width: 100%;
  border-radius: 5px;
  position: relative;
  background-color: #53392d;
  height: 20px;
}
.portfolio .portfolio-main-container .right-container .skill-box .skill-container .skill-item .skills-bar .bg-bar:after {
  height: 20px;
  content: "";
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #ee7233;
  border-radius: 5px;
}
.portfolio .portfolio-main-container .right-container .skill-box .skill-container .skill-item .skills-bar #skill--webDesign:after {
  width: 79%;
}
.portfolio .portfolio-main-container .right-container .skill-box .skill-container .skill-item .skills-bar #skill--GraphicDesign:after {
  width: 85%;
}
.portfolio .portfolio-main-container .right-container .skill-box .skill-container .skill-item .skills-bar #skill--printDesign:after {
  width: 76%;
}
.portfolio .portfolio-main-container .right-container .skill-box .skill-container .skill-item .skills-bar #skill--htmlDesign:after {
  width: 80%;
}
.portfolio .portfolio-main-container .right-container .skill-box .skill-container .skill-item .skills-bar #skill--cssDesign:after {
  width: 75%;
}
.portfolio .portfolio-main-container .right-container .skill-box .skill-container .skill-item .skills-bar #skill--javaScriptDesign:after {
  width: 90%;
}

.service {
  background-color: #252425;
}
.service .top-container {
  width: 100%;
  text-align: center;
}
.service .services-box {
  padding: 1rem;
}
.service .service-box {
  height: 100%;
  background-color: #1b191b;
  border-radius: 6px;
  padding: 2rem;
}
.service .service-box h3 {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.blog {
  background-color: #1b191b;
}
.blog .top-container {
  width: 100%;
  text-align: center;
}

.contact {
  background-color: #1b191b;
}
.contact .top-container {
  width: 100%;
  text-align: center;
}
.contact .contact-info-box {
  padding: 1rem;
}
.contact .contact-info-box .contact-info {
  height: 100%;
  background-color: #252425;
  border-radius: 6px;
  padding: 2rem;
  display: flex;
}
.contact .contact-info-box .contact-info--text {
  display: inline;
  padding-left: 1rem;
}
.contact .contact-info-box .contact-info--text h3 {
  font-weight: bold;
  font-size: 1.5rem;
}
.contact .form-input {
  width: 100%;
  background-color: #252425;
  border: none;
  padding: 1rem 2rem;
  border-radius: 6px;
  color: white;
}
.contact textarea {
  min-height: 200px;
}

/*# sourceMappingURL=styles.css.map */
