$overall-padding: 2rem 10rem;
$default-color:white;
$default-color-gray:rgb(222,222,222);
$emphasize-color:rgb(238,114,51);
$bg-color-light:rgb(37,36,37);
$bg-color-dark:rgb(27,25,27);

* {
    box-sizing: border-box;
  }

body {
    background-color: $bg-color-light;
    color:white;
}

.color-emphasize {
    color:$emphasize-color
}

.color-gray {
    color: $default-color-gray;
}

section {
    padding: $overall-padding !important;
}

.section-title {
    font-size: 4rem;
    font-weight: bold;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

//nav bar
.navbar {
    background-color: $bg-color-dark;
    padding: $overall-padding;
    box-sizing:border-box;
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-brand {
        font-weight: bold;
        font-size: 1.7rem;
    }

    .nav-link {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
        font-weight: bold;
        font-size: 1.3rem;
        color: $default-color;
        &:hover {
            border-bottom: solid $emphasize-color;
        }
    }

    .active{
        border-bottom: solid $emphasize-color;
    }
}

//intro section
.home-intro {
    display: flex;
    h1 {
        font-weight: bold;
        font-size: 4rem;
    }
    &-text{
        display: flex;
        flex-direction:column;
        justify-content: center;
        .icon-box {
            margin-bottom: 1rem;
            .icon{
                padding-right: 1rem;               
            }
        }

        #intro-describe{
            margin-top: 1rem;
            font-size: 1.5rem;
            color: $default-color-gray;
        }

        #bt-my-portfolio {
            margin-top: 1rem;
            padding: 1rem 2rem;
            border-radius: 50px;
            border: $emphasize-color solid 2px;
            background-color: $bg-color-light;
            color: $default-color;
            font-weight: bold;
            margin-right: 1rem;
            &:hover {
                border: white solid 2px;
            }
        }
        #bt-play {
            padding: 1rem 2rem;
            border-radius: 50px;
            border: $emphasize-color solid 2px;
            background-color: $emphasize-color;
            &:hover {
                border: white solid 2px;
            }
        }
    }
    .portraint { 
        padding-top: 4rem; 
        #portraint-img {
            width:100%;
        }
    }
}

//portfolio section
.portfolio {
    background-color: $bg-color-dark;
    display: flex;
    flex-direction: column;
    .top-container {
        width: 100%;
        text-align: center;
        
    }
        .portfolio-main-container{
            display: flex;
        .left-container {
            margin-top: 2rem;
            #portfolio-subtitle-container {
                text-align: center;
                margin-bottom: 2rem;
                .portfolio-subtitle {
                    padding-left: 2rem;
                    padding-right: 2rem;
                    margin-bottom: 2rem;
                    font-size: 2rem;
                    font-weight: bold;
                    
                }
            }

            .timeline {
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    width: 6px;
                    background-color: $emphasize-color;
                    top: 0;
                    bottom: 0;
                    left: 50%;
                    margin-left: -3px;
                }

                &-container {
                    padding: 10px 40px;
                    position: relative;
                    background-color: inherit;
                    width: 50%;
                    &::after{
                        content: '';
                        position: absolute;
                        width: 25px;
                        height: 25px;
                        right: -12px;
                        background-color: $bg-color-dark;
                        border: 4px solid $emphasize-color;
                        top: 15px;
                        border-radius: 50%;
                        z-index: 1;
                    }
                }

                &-content {
                    padding: 20px 30px;
                    background-color: $bg-color-light;
                    position: relative;
                    border-radius: 6px;
                    #separater {
                        color: $emphasize-color;
                    }
                }
            }
            
            .left {
                left: 0;
                &::before {
                    content: " ";
                    height: 0;
                    position: absolute;
                    top: 22px;
                    width: 0;
                    z-index: 1;
                    right: 30px;
                    border: medium solid $bg-color-light;
                    border-width: 10px 0 10px 10px;
                    border-color: transparent transparent transparent $bg-color-light;
                }
            }
            
            .right {
                left: 50%;
                &::before {
                    content: " ";
                    height: 0;
                    position: absolute;
                    top: 22px;
                    width: 0;
                    z-index: 1;
                    left: 30px;
                    border: medium solid $bg-color-light;
                    border-width: 10px 10px 10px 0;
                    border-color: transparent $bg-color-light transparent transparent;
                }

                &::after {
                    left: -13px;
                }
            }
        }

        .right-container {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            .right-container-box {
                margin-bottom: 4rem;
                background-color: $bg-color-light;
                border-radius: 6px;
                padding: 2rem 2rem;
            }
            .portfolio-card {
                display: flex;
                flex-direction: column;
                align-items: center;
                #head-portraint-img {
                    width: 60%;
                    border-radius: 100px;
                }
                #short-description {
                    text-align: center;
                    margin-bottom: 2rem;
                }
                .icon {
                    margin: 0 0.5rem;
                }

                #name {
                    font-weight: bold;
                    font-size: 1.5rem;
                }
            }
            .skill-box {
                .skill-box-title {
                    border-bottom: solid $emphasize-color;
                    display: inline;
                    font-size: 1.2rem;
                    font-weight: bold;
                    padding-bottom: 0.5rem;
                }
                h3 {
                    font-weight: bold;
                }

                .skill-container {
                    padding-top: 1rem;
                    .skill-item {
                        margin: 1rem 0;
                        .skill-name {
                            font-size: 1rem;
                        }
                        .skills-bar{
                            display: flex;
                            width:100%;
                            margin-top: 1rem;
                            .bg-bar {
                                width: 100%;
                                border-radius: 5px;
                                position: relative;
                                background-color: rgb(83,57,45);
                                height:20px;
                                
                            }
                            
                            .bg-bar:after {
                                height:20px;
                                content: "";
                                width: 50%;
                                position: absolute;
                                left: 0;
                                top: 0;
                                bottom: 0;
                                background-color: $emphasize-color;
                                border-radius: 5px;
                            }

                            #skill--webDesign:after {
                                width: 79%;
                            }

                            #skill--GraphicDesign:after {
                                width: 85%;
                            }

                            #skill--printDesign:after {
                                width: 76%;
                            }

                            #skill--htmlDesign:after {
                                width: 80%;
                            }

                            #skill--cssDesign:after {
                                width: 75%;
                            }

                            #skill--javaScriptDesign:after {
                                width: 90%;
                            }
                        }
                    }
                }
            }
        }
    }
}

//service section
.service {
    background-color: $bg-color-light;
    .top-container {
        width: 100%;
        text-align: center;
    }

    .services-box {
        padding: 1rem;
    }

    .service-box {
        height: 100%;
        background-color: $bg-color-dark;
        border-radius: 6px;
        padding: 3rem;
        h3 {
            margin-top: 1rem;
            font-weight: bold;
            font-size: 1.5rem;
        }
    }
}




